.about__item {
    font-size: .88rem;
    color: var(--secondary-color);

    @media(max-width: $breakpoint_md) {
        font-size: 1rem; 
    }

    &-parag {
        margin-bottom: 30px;

        @media(max-width: $breakpoint_md) {
            margin-bottom: 25px;
        }
    }
}

.about__wrapper {
    max-width: 75%;

		@media(max-width: $breakpoint_md) {
			max-width: 100%;
		}
}
