.dragger {
    @media(max-width: 1440px) {
        overflow: hidden;
    }
}

.styles_inner__x-amJ {
    display: flex !important;
}

.dragger--full .dragger-inner {
  display: block;
}

.dragger.is-disabled {
  opacity: 0.5;
  cursor: default;
}

.dragger.is-disabled * {
  cursor: default;
}
