.cards {
     display: flex;
     justify-content: space-between;
     width: 100%;
     max-height: 508px;
}

.cards__item {
    max-width: 300px;
    width: 100%;

    background-color: #171c28;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

    cursor: pointer;
}

.cards__container {
    position: relative;

    clip-path: polygon(0 0, 100% 0, 100% 92%, 0 100%);
}

.cards__top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-icon {
        margin-right: 8px;
    }
}

.cards__title {
    margin: 10px 0 15px 0;

    font-family: $secondary-font;
    font-weight: 400;
}

.cards__title-link {
    color: $primary-color;
    text-decoration: none;
}

.cards__content {
    padding: 20px 10px;

    &>p {
        font-size: 14px;
        color: $gray-color;;
        line-height: 1.3;
        font-weight: 400;
    }
}

.cards__img {
    display: block;

    border-radius: 20px;
}

.cards__top-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
}

.external__icon {
    width: 20px;
    height: 20px;


    fill: $primary-color;

    opacity: .4;
}

.cards__item:hover .cards__top .external__icon {
    fill: $primary-color;
    opacity: .9;
}

.cards__item:hover .cards__title-link {
    text-decoration: underline;

}
