.detail {
    display: flex;
    justify-content: space-between;
    background-color: black;
    
    overflow-y: scroll;
    overscroll-behavior: none;
    -webkit-overflow-scrolling: touch;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    margin: 0 auto;
    padding: 1.5rem 1.25rem; //var(--padding);
    max-width: 60rem;
}
