.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.header-left {
    display: flex;

    @media(max-width: $breakpoint_md) {
        flex-direction: column;
    }
}

.header__name {
    width: 16rem;

    font-family: 'Rammetto One', cursive;
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: 400;
}

.header__desc {
    margin-right: 2rem;
    padding-top: 3px;
    max-width: 22rem;
    width: 100%;

    font-size: 1rem;
    color: var(--primary-color);
    font-weight: 700;
    text-align: left;
}
