.skills__stack {
    display: flex;
    justify-content: space-between;

   @media(max-width: $breakpoint_md) {
       flex-wrap: wrap;
   }
}

.skills__item {
   margin: 5px 0 5px 17px;
   position: relative;

   font-size: .88rem; 
   color: var(--secondary-color);

   @media(max-width: $breakpoint_md) {
       font-size: 1rem;
   }

   &:nth-of-type(1) {
       margin-left: 0;
       margin-bottom: 10px;

       font-size: 1rem;
       color: var(--primary-color);
       font-weight: 700;

       @media(max-width: $breakpoint_md) {
           font-size: 1.2rem;
       }

       @media(max-width: $breakpoint_sm) {
           font-size: .88rem;
       }
   }

   &:not(:first-child):before {
       content: '▹';

       color: var(--primary-color);

       position: absolute;
       top: -1px;
       left: -15px;
   }
}

.skills__list {
    margin-right: 1.25rem;

    @media(max-width: $breakpoint_sm) {
        margin-bottom: 8px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
