.socials {
    display: flex;
    justify-content: space-evenly;
    max-width: 220px;
    width: 100%;
    margin-bottom: 3rem;
}

.socials__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.25rem;
    height: 2.25rem;
    margin-right: 2.2rem;
    position: relative;

    border-radius: 50%;

    &:before {
        content: '';
        width: 60px;
        height: 60px;

        background-color: $primary-color;
        border-radius: 50%;

        opacity: 0;
        transition: all .9s linear;

        position: absolute;
        z-index: -1;
    }

    &:hover:before {
        opacity: 1;
        transform: scale(0.8);
    }

    &:hover .socials__icon {
        fill: #000;
    }

    &:after {
        content: '';
        width: inherit;
        height: inherit;

        border: 1px dashed $primary-color;
        border-radius: 50%;

        opacity: 0;
        transition: all .9s linear;

        position: absolute;
    }

    &:hover:after {
        animation: rotates 11s linear infinite;
        opacity: 1;
    }

}


@keyframes rotates {
    0% {
        transform: scale(0.9) rotate(0deg);
    }

    100% {
        transform: scale(0.9) rotate(360deg);
    }
}

.socials__link {
    position: relative;
    z-index: 2;
}

.socials__icon {
    width: 1.6rem;
    height: 1.6rem;

    fill: $primary-color;
}
