.stack__list {
    max-width: 320px;
    width: 100%;
}

.stack__item {
    margin: 0 auto;
    margin-right: 1.5rem;
    margin-left: 1rem;
    margin-bottom: .4rem;
    float: left;
    position: relative;

    &:last-child {
        margin-right: 0;
    }

    &:before {
       content: '▹';

       color: #fff;

       position: absolute;
       top: -1px;
       left: -15px;
    }
}
