.stack__list {
    display: flex;
    align-items: center;
    max-width: 300px;
    flex-wrap: wrap;
}

.stack__item {
    margin: 0 auto;
    margin-right: 1.5rem;
    position: relative;

    &:last-child {
        margin-right: 0;
    }

    &:before {
       content: '▹';

       color: #fff;

       position: absolute;
       top: -1px;
       left: -15px;
    }
}
