.swiper-container {
  width: 100%;
}

.swiper-pagination {
  top: 2px;
  bottom: 0 !important;
  z-index: 2 !important;
}


.swiper-pagination-bullet-active {
    background-color: #49a09d !important;
}
