@font-face {
    font-family: 'rammetto_oneregular';
    src: url('/public/fonts/Remmettoone/rammettoone-regular-webfont.woff2') format('woff2'),
         url('/public/fonts/Remmettoone/rammettoone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
