$primary-color: #fff;
// Fonts
$primary-font: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
$secondary-font: 'Rammetto One', cursive;

 // Media queries
$breakpoint_lg: 992px;
$breakpoint_md: 768px;
$breakpoint_sm: 576px;
