$primary-color: #fff;
$gray-color: #a0a0a0;
$green-color: #49a09d;
// Fonts
$primary-font: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
$secondary-font: 'Rammetto One', cursive;
// Font size
$primary-size: .88rem;

 // Media queries
$breakpoint_lg: 1065px;
$breakpoint_md: 768px;
$breakpoint_sm: 576px;
